:root {
    --black: 0 0 0; /*#000000*/
    --black-dark: 22 22 22; /*#161616*/
    --black-light: 34 34 34; /*#222222*/
    --white: 255 255 255; /*#ffffff*/
    --blue: 56 124 255; /*#387CFF*/
    --blue-dark: 9 38 96; /*#092660*/
}